.ral-book-detail__container {
  padding: 16px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h2,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 8px;
}

.ral-book-detail__header__right {
  width: 128px;
}

img {
  max-width: 128px;
  width: 128px;
  height: auto;
}
