<mat-card>
  <mat-card-title>Throubleshooting</mat-card-title>
  <mat-card-content>
    <p>If you see this message, it probably means you've encountered an error.</p>
    <mat-card-subtitle>What happened?</mat-card-subtitle>
    <p>
      Your web browser blocked your request to RA Library application.<br>
      The most possible reason is that you didn't install RA certificate. It often happens when you're using personal mobile devices and it's the first time you visit RA hosted HTTPS web sites.<br>
      Or you've lost network connection.
    </p>
    <mat-card-subtitle>How to resolve?</mat-card-subtitle>
    <p>
      <a href="https://apcndaec3ycs12.ra-int.com" target="_blank">Visit this site via your web browser</a>, and accept the certificate.<br>
      You only need to do this once.
      And make sure to check the certificate details before accept it!
    </p>
    <mat-card-subtitle>Why do I need do this?</mat-card-subtitle>
    <p>Because we serve this application on RA server through HTTPS.</p>
    <mat-card-subtitle>Still has concerns?</mat-card-subtitle>
    <p>Please contact Patrick Zhong.</p>
  </mat-card-content>
</mat-card>