.ral-nav {
  display: block;
  background-color: #fff;
}

// Overwrite angular material styles for mobile phone.
.xs {
  .mat-tab-links {
    display: flex;
  }

  .mat-tab-link {
    color: #4CAF50;
    opacity: .87;
    flex: 1;
  }
}
