.ral-nav {
  display: block;
  background-color: #fff;
}

// Overwrite angular material styles for mobile phone.
.mat-tab-links {
  display: flex;
}

.mat-tab-link {
  color: #fff !important;
  opacity: 1 !important;
  flex: 1;
}

.mat-ink-bar {
  background-color: #2E7D32 !important;
}
