<mat-progress-bar
  mode="indeterminate"
  [ngClass]="{ 'hide': !isLoading }"></mat-progress-bar>
<div mat-dialog-content>
  <mat-form-field>
    <span matPrefix>RA-INT \ &nbsp;</span>
    <input matInput placeholder="Username" [(ngModel)]="username" tabindex="1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="password"  tabindex="2" type="password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickCancel()" tabindex="3">Cancel</button>
  <button color="primary" mat-button (click)="onClickSignIn()" tabindex="3">Sign in</button>
</div>