<mat-progress-bar
  mode="indeterminate"
  [ngClass]="{ 'hide': !isLoading }"></mat-progress-bar>
<div mat-dialog-content *ngIf="!isSignIn">
  <mat-form-field>
    <span matPrefix>RA-INT \ &nbsp;</span>
    <input matInput [(ngModel)]="username" placeholder="Username"
      tabindex="1" type="text" (keyup.enter)="onClickSignIn()">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="password" placeholder="Password"
      tabindex="2" type="password" (keyup.enter)="onClickSignIn()">
  </mat-form-field>
  <div *ngIf="hasError" class="caption message">Failed. Try again.</div>
</div>
<div mat-dialog-content *ngIf="isSignIn">
  <h2 class="title">Hi, {{name}}</h2>
</div>
<div fxLayoutAlign="space-around center" mat-dialog-actions>
  <button mat-button (click)="onClickCancel()" tabindex="4">Cancel</button>
  <button mat-button *ngIf="!isSignIn" [disabled]="isLoading"
    (click)="onClickSignIn()" color="primary"  tabindex="3">Sign in</button>
  <button mat-button *ngIf="isSignIn" [disabled]="isLoading"
    (click)="onClickSignOut()" color="primary" tabindex="3">Sign out</button>
</div>