:host {
  display: block;
}

.mat-card {
  display: flex;
  flex-direction: row;
  position: relative;
}

.ral-card__thumbnail {
  flex: 0 1 auto;

  img {
    max-width: 64px;
    width: 64px;
    height: auto;
  }
}

.ral-card__content {
  margin: 0 16px;
  flex: 1;
}

.ral-card__title,
.ral-card__subtitle {
  margin: 0 0 12px 0;
}

.ral-card__detail {
  color: rgba(0, 0, 0, .54);
  margin: 0 0 4px 0;

  &:last-child {
    margin: 0;
  }
}

.ral-card__badge {
  background-color: #4CAF50;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 24px;
  right: 16px;
}

.not-available {
  background-color: #F44336;  
}
