<div class="container" fxLayout="column">
  <div class="ral-toolbar-wrapper" fxFlex="none">
    <ral-toolbar>
      <button mat-icon-button color="primary" (click)="onClickRefresh()">
        <mat-icon aria-label="Refresh">refresh</mat-icon>
      </button>
    </ral-toolbar>
  </div>
  <div *ngIf="isLoading" class="ral-progress-wrapper" fxFlex="none">
    <ral-progress message="Getting books"></ral-progress>
  </div>
  <div #container id="books-container" class="books-container" fxFlex="nogrow" fxLayout="row" fxLayoutWrap>
    <div class="ral-book-wrapper" fxFlex="1 0 150px"
        *ngFor="let book of books">
      <ral-book
        [book]="book"
        [routerLink]="['/browse/books', book.Id]"></ral-book>
    </div>
    <div class="ral-back-to-top-wrapper">
      <ral-back-to-top [container]="container"></ral-back-to-top>
    </div>
  </div>
</div>