:host {
  display: block;
  height: 100%;
}

section {
  padding: 8px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ral-card-wrapper {
  padding: 8px;
}
