:host {
  display: block;
}

img {
  width: auto;
  max-width: 128px;
  height: 168px;
}

.secondary-text {
  color: rgba(0, 0, 0, .54);
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
