:host {
  display: block;
  height: 100%;
}

.container {
  height: 100%;
}

.ral-toolbar-wrapper {
  background-color: #E8F5E9;  
}

.mat-progress-bar {
  width: 120px;
  margin-top: 8px;
}

.ral-status {
  margin-top: 80px;
}

.overdue,
.will-overdue,
.normal {
  padding: 0 8px;
}

.overdue {
  color: #F44336;
}

.will-overdue {
  color: #FF9800;
}

.normal {
  color: #8BC34A;
}

.books-container {
  padding: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ral-book-wrapper {
  padding: 8px;
}
