<div class="container" fxLayout="column">
  <div class="ral-toolbar-wrapper" fxFlex="none">
    <ral-toolbar>
      <button mat-icon-button (click)="onClickRefresh()" color="primary">
        <mat-icon aria-label="Refresh">refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="onClickProfile()" color="primary">
        <mat-icon aria-label="User profile">person_outline</mat-icon>
      </button>
    </ral-toolbar>
  </div>
  <div *ngIf="isLoading" class="ral-progress-wrapper" fxFlex="none">
    <ral-progress message="Getting your books"></ral-progress>
  </div>
  <div class="books-container" fxFlex="nogrow" fxLayout="row" fxLayoutWrap>
    <div fxFlex="100" *ngIf="booksClassification.overdue?.length" class="overdue" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon aria-label="Overdue books">sentiment_very_dissatisfied</mat-icon>
      <span class="mat-caption">Overdue ({{booksClassification.overdue?.length || 0}})</span>
    </div>
    <div class="ral-book-wrapper" fxFlex="0 0 150px"
        *ngFor="let book of booksClassification.overdue">
      <ral-book
        [book]="book.Book"
        [routerLink]="['/profile/books', book.Book.Id]"></ral-book>
    </div>
    <div fxFlex="100" *ngIf="booksClassification.aboutOverdue?.length" class="will-overdue" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon aria-label="Overdue soon">sentiment_neutral</mat-icon>
      <span class="mat-caption">Overdue Soon ({{booksClassification.aboutOverdue?.length || 0}})</span>
    </div>
    <div class="ral-book-wrapper" fxFlex="0 0 150px"
        *ngFor="let book of aboutOverdue">
      <ral-book
        [book]="book.Book"
        [routerLink]="['/profile/books', book.Book.Id]"></ral-book>
    </div>
    <div fxFlex="100" *ngIf="booksClassification.normal?.length" class="normal" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon aria-label="Enjoy reading">sentiment_very_satisfied</mat-icon>
      <span class="mat-caption">Enjoy Reading ({{booksClassification.normal?.length || 0}})</span>
    </div>
    <div class="ral-book-wrapper" fxFlex="0 0 150px"
        *ngFor="let book of booksClassification.normal">
      <ral-book
        [book]="book.Book"
        [routerLink]="['/profile/books', book.Book.Id]"></ral-book>
    </div>
  </div>
</div>