<ral-user-toolbar>
  <button mat-icon-button (click)="onClickRefresh()" color="primary">
    <mat-icon aria-label="Refresh">refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="onClickProfile()" color="primary">
    <mat-icon aria-label="User profile">person_outline</mat-icon>
  </button>
</ral-user-toolbar>
<div fxLayout="column" fxLayoutGap="8px" class="container">
  <ral-progress *ngIf="isLoading" message="Getting your books"></ral-progress>
  <ral-card
    *ngFor="let book of books"
    [enableBadge]="false"
    [book]="book.Book"
    [routerLink]="['/profile/books', book.Book.Id]">
  </ral-card>
</div>