:host {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
}

.mat-progress-bar {
  width: 120px;
  margin-top: 8px;
}

.ral-status {
  margin-top: 80px;
}

.overdue,
.will-overdue,
.normal {
  padding: 0 8px;
}

.overdue {
  color: #F44336;
}

.will-overdue {
  color: #FF9800;
}

.normal {
  color: #8BC34A;
}

.list {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8px;
}

.card-container {
  padding: 8px;
}
