.example-card {
  width: 300px;
}

.example-header-image {
  background-image: url('http://books.google.com/books/content?id=PXa2bby0oQ0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api');
  background-size: cover;
}
