/* You can add global styles to this file, and also import other style files */

@import "~normalize.css/normalize.css";

html {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // reset box sizing
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}
