<div class="container" fxLayout="column">
  <div fxFlex="none">
    <mat-card class="search-bar" fxLayout="row">
      <input class="input" fxFlex name="keyword" matInput placeholder="Title"
        [(ngModel)]="keyword" (keyup.enter)="search()"
        [disabled]="isSearching">
      <button mat-icon-button (click)="search()" color="primary">
        <mat-icon aria-label="Search">search</mat-icon>
      </button>
    </mat-card>
  </div>
  <div class="search-filters" fxFlex="none">
    <mat-chip-list multiple="true">
      <mat-chip
          *ngFor="let filter of filters"
          [selected]="filter.isSelected"
          (click)="filter.isSelected = !filter.isSelected">
        {{filter.label}}</mat-chip>
    </mat-chip-list>
  </div>
  <div class="books-container" fxLayout="row" fxLayoutWrap fxFlex="nogrow">
    <div class="ral-book-wrapper"
        *ngFor="let book of books"
        fxFlex="1 0 150px">
      <ral-book
        [book]="book"
        [routerLink]="['/browse/books', book.Id]"></ral-book>
    </div>
  </div>
</div>