:host {
  display: block;
  height: 100%;
}

.container {
  padding: 8px;
  height: 100%;
}

.search-filters {
  padding: 8px;
}

.search-btn {
  opacity: .87;
}

.input {
  border: none;
  outline: none;
  appearance: none;
}

.search-bar {
  padding: 0;
  padding-left: 8px;
  margin: 8px;
}

.search-form {
  padding: 16px 16px 0 16px;
}

.mat-form-field {
  width: 100%;
}

.books-container {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.ral-book-wrapper {
  padding: 8px;
}
